<div class="container"> 
  <table class="table table-striped mto50">
    <thead>
      <tr>
        <th><h4>Indicador</h4></th>
        <th><h4>Cantidad</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Total de eventos</td>
        <td>{{eventos}}</td>
      </tr>
      <tr>
        <td>Total de incidentes</td>
        <td>{{inc}}</td>
      </tr>
      <tr>
        <td>Total de accidentes</td>
        <td>{{acc}}</td>
      </tr>
      <tr>
        <td>Total de eventos con menores de edad</td>
        <td>{{age}}</td>
      </tr>
      <tr>
        <td>Total de vehículos afectados en incidentes</td>
        <td>{{incAfectados}}</td>
      </tr>
      <tr>
        <td>Total de vehículos afectados en accidentes</td>
        <td>{{accAfectados}}</td>
      </tr>
    </tbody>
  </table>
  <hr>
    <div class="center-block text-center mto50">
        <a href="#/" class="btn btn-info">Volver</a>
    </div>
</div>